#service_table_data {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

#instance_table_data {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  